UPDATE `operatorActive`
SET 
  `description` = 'Hoạt động Liên Đăng Vu Lan',
  `endTime` = '1408118400000',
  `lostTime` = '1408118400000',
  `secTitle` = 'Hoạt động Liên Đăng Vu Lan',
  `startTime` = '1407434400000',
  `title` = 'Liên Đăng Vu Lan'
WHERE `activeId` = 8;