UPDATE `operatorActive`
SET 
  `description` = 'Hoạt động Cuộc Thi Pha chế thuốc',
  `endTime` = '1406649600000',
  `lostTime` = '1406649600000',
  `secTitle` = 'Hoạt động Cuộc Thi Pha chế thuốc',
  `startTime` = '1405360800000',
  `title` = 'Cuộc thi chế thuốc'
WHERE `activeId` = 8;