UPDATE `operatoractive`
SET 
  `description` = 'Hoạt động Trồng Cây Gây Rừng',
  `endTime` = '1405702700000',
  `lostTime` = '1405702700000',
  `secTitle` = 'Hoạt động Trồng Cây Gây Rừng',
  `startTime` = '1404320400000',
  `title` = 'Trồng Cây Gây Rừng',
  `activeBaseId` = 54
WHERE `activeBaseId` = 53;