UPDATE `operatorActive`
SET 
  `description` = 'Hoạt động Vu Lan Báo Hiếu',
  `endTime` = '1407780000000',
  `lostTime` = '1407780000000',
  `secTitle` = 'Hoạt động Vu Lan Báo Hiếu',
  `startTime` = '1405274400000',
  `title` = 'Vu Lan Báo Hiếu'
WHERE `activeId` = 8;


UPDATE `operatorActive`
SET 
  `description` = 'Hoạt động Vu Lan Báo Hiếu',
  `endTime` = '1407780000000',
  `lostTime` = '1407780000000',
  `secTitle` = 'Hoạt động Vu Lan Báo Hiếu',
  `startTime` = '1406570400000',
  `title` = 'Vu Lan Báo Hiếu'
WHERE `activeId` = 8;